.editor-toolbar {
  flex: 0 0 5%;

  display: flex;

  background: var(--panel-bg);
  border: 2px solid var(--border-color);

  border-radius: 5px;
}

.editor-toolbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.run-button {
  background-color: var(--gb-red);
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.footer {
  flex: 0 0 auto;
}

.output-terminal {
  flex: 1;
  height: 100%;
}

.code-highlight {
  background-color: rgba(250, 189, 47, 0.45);
  border-radius: 2px;
}

.editor-terminal {
  height: 100%;
}
