.about-me {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.75rem 1rem;

  background: var(--panel-bg);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.about-me__title {
  margin: 0;
  color: var(--gb-fg2);
  font-size: 1rem;
}

.about-me__github {
  display: flex;
  align-items: center;

  color: inherit;
  text-decoration: none;
}

.about-me__github:hover {
  color: var(--gb-yellow);
}

.color-gb-yellow {
  color: var(--gb-yellow);
}
