@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html * {
  font-family: "JetBrains Mono";
}

body,
#root {
  width: 100%;

  display: flex;
  flex-direction: column;
  height: 100dvh;

  margin: 0;
  padding: 0;
  --content-dvh: 70dvh;
  --output-dvh: 20dvh;

  background: var(--gb-bg0);
  color: var(--gb-fg1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
